* {
  padding: 5px;
}
.col-md-2 {
border: 1px solid black;
}

.col-md-8 {

}

.row {

}

#brain {
  color: red;
}

#jam {
  color: blue;

}

.gameButton {
  width: 100px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
}

.gameButton:hover {
  background-color: yellow;
}

.answers {
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
}

#startBtn {
  width: 100px;
  display: inline-block;
}

#resetBtn {
  width:100px;
  display: inline-block;
  margin-top: 5px;

}

#startBtn-container {
  text-align: center;
}

#playerScore {
}
