* {
  padding: 5px;
}
.col-md-2 {
}

.col-md-8 {
}

.row {
}

#brain {
  color: red;
  box-shadow: 5px 5px 10px blue;
  display: inline-block;
  margin-left: 50px;
  border-radius: 5px;

}

#spam {
  color: blue;
  box-shadow: 5px 5px 10px red;
  display: inline-block;
  border-radius: 5px;


}

.gameButton {
  width: 90px;
  height: 60px;
  border: 1px solid black;
  border-radius: 5px;
}

.gameButton:hover {
  background-color: red;
}

.answers {
  border: 1px solid black;
  border-radius: 5px;
  list-style-type: none;
}

#startBtn {
  width: 100px;
  display: inline-block;
}

#resetBtn {
  width:100px;
  margin-top: 5px;

}

.wrapper {
  text-align: center;
}

#playerScore {
}

.Btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

.question {
  text-align: center;
}

.answers {
  text-align: center;
}

.answers:hover {
background-color: blue;
}

#choices-div {
  align-items: center;
}

.infoDiv {
  border: 1px solid black;
  border-radius: 5px;
}
